.wow {
  width: 100px;
  
}

/* Estilos menu */
.container-menu {
    display: inline-block;
    float: right;
}

.separador {
    display: inline;
}

.espacamento {
  margin-top: 5%;
}

/*index*/
.central {
  text-align: center;
}

.borda_pont {
  border-style: dotted;
  border-width: 1px;
  border-color: blue;
}

#sejararo {
  border-radius: 50%;
}

/*login*/

.login {
  border-radius: 5px;
  background-color: #ededed;
  padding: 20px;
}

#loginuser {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display:inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*botão*/

.botaoenviar {
  width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
  background: rgb(61, 148, 46);
}


/*formulários*/

.caixaformulario {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.selecionarformulario {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}






  
